<!DOCTYPE html>
<html lang="pt-BR" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasileirão - Tabela</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        'primary': '#4f46e5',
                        'secondary': '#6b7280',
                        'success': '#22c55e',
                        'danger': '#dc2626'
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-gray-800 text-white font-sans">
<div class="container mx-auto mt-4 p-4">
    <h1 class="text-3xl font-bold text-center mb-6">Tabela do Brasileirão</h1>
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-900 dark:bg-gray-900">
            <thead class="bg-primary dark:bg-primary">
            <tr>
                <th class="px-4 py-2 text-left text-gray-300">Posição</th>
                <th class="px-4 py-2 text-left text-gray-300">Time</th>
                <th class="px-4 py-2 text-left text-gray-300">P</th>
                <th class="px-4 py-2 text-left text-gray-300">J</th>
                <th class="px-4 py-2 text-left text-gray-300">V</th>
                <th class="px-4 py-2 text-left text-gray-300">E</th>
                <th class="px-4 py-2 text-left text-gray-300">D</th>
                <th class="px-4 py-2 text-left text-gray-300">GP</th>
                <th class="px-4 py-2 text-left text-gray-300">GC</th>
                <th class="px-4 py-2 text-left text-gray-300">SG</th>
                <th class="px-4 py-2 text-left text-gray-300">%</th>
                <th class="px-4 py-2 text-left text-gray-300">Últimos Jogos</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-700">
            <tr th:each="team : ${teams}" class="hover:bg-gray-600 dark:hover:bg-primary-500 transition-colors">
                <td class="px-4 py-2" th:text="${team.position} + '°'"></td>
                <td class="px-4 py-2">
                    <span class="bg-secondary font-medium me-2 px-2.5 py-0.5 rounded" th:text="${team.name}"></span>
                </td>
                <td class="px-4 py-2"><b th:text="${team.points}"></b></td>
                <td class="px-4 py-2" th:text="${team.gamesPlayed}"></td>
                <td class="px-4 py-2" th:text="${team.wins}"></td>
                <td class="px-4 py-2" th:text="${team.draws}"></td>
                <td class="px-4 py-2" th:text="${team.losses}"></td>
                <td class="px-4 py-2" th:text="${team.goalsFor}"></td>
                <td class="px-4 py-2" th:text="${team.goalsAgainst}"></td>
                <td class="px-4 py-2" th:text="${team.goalDifference}"></td>
                <td class="px-4 py-2" th:text="${team.performance}"></td>
                <td class="px-4 py-2">
                    <div class="flex items-center text-center justify-center space-x-1">
                        <span th:each="lastGame : ${team.lastGames.toCharArray()}"
                              class="inline-block w-2 h-2 rounded-full"
                              th:classappend="${#strings.trim(lastGame) == 'E' ? 'bg-secondary' : (#strings.trim(lastGame) == 'V' ? 'bg-success' : 'bg-danger')}">
                        </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
